src/__pycache__/main.cpython-310.pyc
src/crud/__pycache__/__init__.cpython-310.pyc
src/crud/__pycache__/user_services.cpython-310.pyc
src/db/pyrobots.bd
src/db/__pycache__/__init__.cpython-310.pyc
src/db/__pycache__/database.cpython-310.pyc
src/models/__pycache__/__init__.cpython-310.pyc
src/models/__pycache__/entities.cpython-310.pyc
src/routers/__pycache__/__init__.cpython-310.pyc
src/routers/__pycache__/users_controller.cpython-310.pyc
src/schemas/__pycache__/__init__.cpython-310.pyc
src/schemas/__pycache__/iuser.cpython-310.pyc
.vscode/settings.json
tests/__pycache__/__init__.cpython-310.pyc
tests/__pycache__/test_confirmation.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_game.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_get_robot.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_inflingir_danio.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_load_robot.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_loggin.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_match.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_move.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_register.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_robot_drive.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_robot_scan.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_shoot.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_simulation.cpython-310-pytest-7.1.3.pyc
tests/__pycache__/test_websocket.cpython-310-pytest-7.1.3.pyc
src/db/__pycache__/entities.cpython-310.pyc
src/game/__pycache__/__init__.cpython-310.pyc
src/game/__pycache__/robot_class.cpython-310.pyc
*.pyc
src/db/database.sqlite
src/.env
